* 
{
    margin: 0;
}
ul 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
li 
{
    float: right;
}
li a 
{
    display: block;
    padding: 15px 18px;
    text-decoration: none;
    color: #102310;
    
}
.green_house 
{
    float: left;
    font-size: 20px;
    display: block;
    padding: 15px 18px;
    text-decoration: none;
    color: #102310;
}
.accueil_text {
    display: block; 
    font-size: 18px; 
    color: #2F5D3F; 
    text-align: center; 
    margin: auto; 
    padding-bottom: 40px;
    width: 80%; 
    line-height: 2;
}

.conteneur_1
{
    background-color: #fff;
    padding: 0;
}
.banniere_1
{
    width: 100%;
    height: 400px;
}
.titre
{
    background-color: #fff;
    text-align: center;
    padding: 50px;
    margin: 10px;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #215D34;
    scroll-margin-top: 60px;
}
.services_section 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    background-color: #f8f8f8;
}
.services_section_titre
{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    background-color: #f8f8f8;
}
.conteneur_2 
{
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2, h6
{
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #215D34;
}
h5
{
    font-size: 19px;
}
.realisations_section 
{
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: 0 auto;
}
.realisation img 
{
    width: 100%;
    height: 199px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}
h4
{
    font-size: 18px;
    color: #215D34;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.realisation-text
{
    text-align: justify;
    color: #102310;
}
.conteneur_3{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding-bottom: 50px;
}
.blog 
{
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    background-color: #a5d4a1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.blog p {
    font-size: 14px;
    color: #333;
}

.blog a {
    display: inline-block;
    margin-top: 20px;
    color: #114220;
    font-weight: bold;
    text-decoration: none;
}
.blog_text
{
    padding-top: 10px;
}
.titre_2
{
    background-color: #f8f8f8;
    text-align: center;
    margin: 10px;
    font-size: 1.5em;
    color: #215D34;
    scroll-margin-top: 80px;
}
.contact_section
{
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    max-width: 600px;
}
form div 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}
form div input, form div select 
{
    height: 50px;
    padding-left: 10px;
}
form div textarea 
{
    height: 195px;
    padding: 15px 0px 0px 10px;
}
form button 
{
    width: 450px;
    font-size: 28px;
    background: #215D34;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #fff;
    margin: 20px;
}